<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site de Controle de Visitação do Zoológico">
    <meta name="robots" content="noindex, nofollow">
    

    <title>Document</title>
    <style>
      /* Esse é um css interno*/ 
  
       h1 {
         color: #af904c; /* verde */
       }

    </style>
</head>
<body>  
  <a href="/animal">Cadastro de Animais</a>
  <a href="/avaliacao">Registro de Avaliações</a>  
    <form action="/addavalia" method="post">
       <textarea name="texto" rows="10" cols="50">        
       </textarea>
       <input type="submit" value="enviar">
    </form>
</body>
</html>