<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo Night Fest</title>
    
    <style>

       .flex-table{
           width: 650px;
           border: 2px solid red;
       }
       table{
         width:100%;
         margin:auto;
         border-collapse: collapse;
       }

    </style>


</head>
<body> 
    <a href="/animal">Cadastro de Animais</a>
    <a href="/avaliacao">Registro de Avaliações</a>

    <div class="flex-table">
        <table border="1">
            <thead >
                <tr>
                    <th>id</th>
                    <th>texto</th>
                    <th>polaridade</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for avalia in avaliacoes%}
                <tr>
                    <td>{{avalia.id}}</td>
                    <td>{{ avalia.texto }}</td>
                    <td>{{avalia.polaridade}}</td>
                    <td><a href="#">alterar</a></td>
                        <!-- Link para alterar a avaliação -->
                    <td><a href="{{url_for('excluir_avalia_zoo',id=avalia.id)}}">remover</a></td>
                </tr>

                {% endfor %}    
            </tbody>
        </table>
    </div>  
       
</body>
</html>


